img {
    height: 450px;
    width: 375px;
    border-radius: 5%;
}
h1 {
    text-align: center;
}
#puppy-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    border: 2px solid black;
}
#puppy-information {
    border: 2px solid red;;
}
