body {
    background-color: bisque;
}
img {
    height: 450px;
    width: 375px;
    filter: drop-shadow(30px 10px 4px #0f0f0f);
    border-radius: 5%;
}
h1 {
    text-align: center;
}
#puppy-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}
#puppy-name {
    font-size: 24px;
    text-align: center;
}
#puppy-breed {
    font-size: 20px;
    text-align: center;
}